{% extends 'base.html' %}
{% from 'macros.html' import form_field %}
{% block title %} Two Forms Two Views {% endblock %}
{% block content %}
<h1>Two Forms Two Views</h1>
<form method="POST" action="{{url_for('handle_signin')}}">
    {{ signin_form.csrf_token }}
    {{ form_field(signin_form.username) }}
    {{ form_field(signin_form.password) }}
    {{ signin_form.submit }}
</form>
<h3>Register Form</h3>
<form method="POST" action="{{url_for('handle_register')}}">
    {{ register_form.csrf_token }}
    {{ form_field(register_form.username) }}
    {{ form_field(register_form.email) }}
    {{ form_field(register_form.password) }}
    {{ register_form.submit }}
</form>
{% endblock %}